<style>
	.btn {
		height: 40px;
		width: 320px;
		background: #000;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		font-size: 18px;
	}
</style>

<p>Hey {{ name }},</p>
<p>Please click the link below to reset your password</p>
<p>
	<a href="{{ url }}" class="btn">Reset</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>